{{> header}}
<div class="flex justify-center gap-x-3 mt-5">
    <a href="/search"><button class="bg-orange-700 hover:bg-orange-500 text-white p-3 rounded-md">Search Employee</button></a>
    <a href="/insert"><button class="bg-orange-700 hover:bg-orange-500 text-white p-3 rounded-md">Insert
            Employee</button></a>
    <a href="/update"><button class="bg-orange-700 hover:bg-orange-500 text-white p-3 rounded-md">Update
            Employee</button></a>
    <a href="/delete"><button class="bg-orange-700 hover:bg-orange-500 text-white p-3 rounded-md">Delete
            Employee</button></a>
</div>
{{> footer}}